In [ ]:
import os
os.chdir('..')

In [1]:
import pandas as pd
from autogluon.timeseries import TimeSeriesPredictor, TimeSeriesDataFrame

In [2]:
dataset_path = "./datasets/sell-in.txt"
productos_a_predecir = "./datasets/product_id_apredecir201912.txt"

In [3]:
df = pd.read_csv(dataset_path, sep='\t')

In [4]:
df['product_id'] = df['product_id'].astype(str)
df['periodo'] = df['periodo'].astype(str)

In [5]:
#df = df[~df['periodo'].isin(['201912', '201911'])]

In [6]:
df_a_predecir = pd.read_csv(productos_a_predecir, dtype={ 'product_id': str })

In [7]:
df['timestamp'] = pd.to_datetime(df['periodo'], format='%Y%m')

In [8]:
df = df[df['product_id'].isin(df_a_predecir['product_id'].unique())]

In [9]:
df_monthly_product = df.groupby(['timestamp', 'product_id'], as_index=False)['tn'].sum()

In [10]:
df_monthly_product['item_id'] = df_monthly_product['product_id']

In [11]:
ts_data = TimeSeriesDataFrame.from_data_frame(
    df_monthly_product,
    id_column='item_id',
    timestamp_column='timestamp'
)

In [12]:
ts_data = ts_data.sort_index()

In [13]:
ts_data = ts_data.fill_missing_values()

In [14]:
predictor = TimeSeriesPredictor(
    prediction_length=2,
    target='tn',
    freq='MS'
)

In [15]:
predictor.fit(ts_data, num_val_windows=2, time_limit=60*60)

Beginning AutoGluon training... Time limit = 3600s
AutoGluon will save models to 'c:\Users\dylan\Desktop\labo3-2025v\AutogluonModels\ag-20250720_143658'
=================== System Info ===================
AutoGluon Version:  1.3.1
Python Version:     3.9.21
Operating System:   Windows
Platform Machine:   AMD64
Platform Version:   10.0.26100
CPU Count:          16
GPU Count:          1
Memory Avail:       20.41 GB / 27.66 GB (73.8%)
Disk Space Avail:   228.56 GB / 699.94 GB (32.7%)
===================================================

Fitting with arguments:
{'enable_ensemble': True,
 'eval_metric': WQL,
 'freq': 'MS',
 'hyperparameters': 'default',
 'known_covariates_names': [],
 'num_val_windows': 2,
 'prediction_length': 2,
 'quantile_levels': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
 'random_seed': 123,
 'refit_every_n_windows': 1,
 'refit_full': False,
 'skip_model_selection': False,
 'target': 'tn',
 'time_limit': 3600,
 'verbosity': 2}

train_data with frequency 'IRREG' has been resampled to frequency 'MS'.
Provided train_data has 22375 rows (NaN fraction=0.1%), 780 time series. Median time series length is 36 (min=4, max=36).
	Removing 75 short time series from train_data. Only series with length >= 9 will be used for training.
	After filtering, train_data has 21916 rows (NaN fraction=0.1%), 705 time series. Median time series length is 36 (min=9, max=36).

Provided data contains following columns:
	target: 'tn'
	past_covariates:
		categorical:        ['product_id']
		continuous (float): []

To learn how to fix incorrectly inferred types, please see documentation for TimeSeriesPredictor.fit

AutoGluon will gauge predictive performance using evaluation metric: 'WQL'
	This metric's sign has been flipped to adhere to being higher_is_better. The metric score can be multiplied by -1 to get the metric value.
===================================================

Starting training. Start time is 2025-07-20 11:37:05
Models that will be trained: ['SeasonalNaive', 'RecursiveTabular', 'DirectTabular', 'NPTS', 'DynamicOptimizedTheta', 'AutoETS', 'ChronosZeroShot[bolt_base]', 'ChronosFineTuned[bolt_small]', 'TemporalFusionTransformer', 'DeepAR', 'PatchTST', 'TiDE']
Training timeseries model SeasonalNaive. Training for up to 276.1s of the 3589.8s of remaining time.
	-0.2298       = Validation score (-WQL)
	2.46    s     = Training runtime
	0.41    s     = Validation (prediction) runtime
Training timeseries model RecursiveTabular. Training for up to 298.9s of the 3586.9s of remaining time.
	Time series in the dataset are too short for chosen differences [12]. Setting differences to [1].
	Time series in the dataset are too short for chosen differences [12]. Setting differences to [1].
	-0.2285       = Validation score (-WQL)
	1.92    s     = Training runtime
	0.04    s     = Validation (prediction) runtime
Training timeseries model DirectTabular. Training for up to 325.9s of the 3584.9s of remaining time.
	-0.2436       = Validation score (-WQL)
	12.09   s     = Training runtime
	0.08    s     = Validation (prediction) runtime
Training timeseries model NPTS. Training for up to 357.3s of the 3572.8s of remaining time.
	-0.2793       = Validation score (-WQL)
	0.40    s     = Training runtime
	0.34    s     = Validation (prediction) runtime
Training timeseries model DynamicOptimizedTheta. Training for up to 396.9s of the 3572.0s of remaining time.
	-0.2039       = Validation score (-WQL)
	4.61    s     = Training runtime
	0.35    s     = Validation (prediction) runtime
Training timeseries model AutoETS. Training for up to 445.9s of the 3567.0s of remaining time.
	Warning: AutoETS\W0 failed for 45 time series (6.4%). Fallback model SeasonalNaive was used for these time series.
	-0.2010       = Validation score (-WQL)
	1.85    s     = Training runtime
	1.99    s     = Validation (prediction) runtime
Training timeseries model ChronosZeroShot[bolt_base]. Training for up to 509.0s of the 3563.2s of remaining time.
	-0.1905       = Validation score (-WQL)
	13.65   s     = Training runtime
	1.53    s     = Validation (prediction) runtime
Training timeseries model ChronosFineTuned[bolt_small]. Training for up to 591.3s of the 3548.0s of remaining time.
	Skipping covariate_regressor since the dataset contains no covariates or static features.
	Saving fine-tuned model to c:\Users\dylan\Desktop\labo3-2025v\AutogluonModels\ag-20250720_143658\models\ChronosFineTuned[bolt_small]\W0\fine-tuned-ckpt
	Skipping covariate_regressor since the dataset contains no covariates or static features.
	Saving fine-tuned model to c:\Users\dylan\Desktop\labo3-2025v\AutogluonModels\ag-20250720_143658\models\ChronosFineTuned[bolt_small]\W1\fine-tuned-ckpt
	-0.1819       = Validation score (-WQL)
	129.78  s     = Training runtime
	0.07    s     = Validation (prediction) runtime
Training timeseries model TemporalFusionTransformer. Training for up to 704.5s of the 3418.1s of remaining time.
	-0.1919       = Validation score (-WQL)
	124.37  s     = Training runtime
	0.20    s     = Validation (prediction) runtime
Training timeseries model DeepAR. Training for up to 897.8s of the 3293.5s of remaining time.
	-0.1887       = Validation score (-WQL)
	86.81   s     = Training runtime
	0.28    s     = Validation (prediction) runtime
Training timeseries model PatchTST. Training for up to 1303.2s of the 3206.4s of remaining time.
	-0.1826       = Validation score (-WQL)
	52.09   s     = Training runtime
	0.52    s     = Validation (prediction) runtime
Training timeseries model TiDE. Training for up to 2553.8s of the 3153.8s of remaining time.
	-0.2380       = Validation score (-WQL)
	122.43  s     = Training runtime
	0.99    s     = Validation (prediction) runtime
Fitting simple weighted ensemble.
	Ensemble weights: {'AutoETS': 0.18, 'ChronosFineTuned[bolt_small]': 0.2, 'DeepAR': 0.22, 'NPTS': 0.09, 'PatchTST': 0.16, 'SeasonalNaive': 0.07, 'TemporalFusionTransformer': 0.09}
	-0.1735       = Validation score (-WQL)
	1.22    s     = Training runtime
	3.80    s     = Validation (prediction) runtime
Training complete. Models trained: ['SeasonalNaive', 'RecursiveTabular', 'DirectTabular', 'NPTS', 'DynamicOptimizedTheta', 'AutoETS', 'ChronosZeroShot[bolt_base]', 'ChronosFineTuned[bolt_small]', 'TemporalFusionTransformer', 'DeepAR', 'PatchTST', 'TiDE', 'WeightedEnsemble']
Total runtime: 563.90 s
Best model: WeightedEnsemble
Best model score: -0.1735

In [16]:
forecast = predictor.predict(ts_data)

data with frequency 'IRREG' has been resampled to frequency 'MS'.
Model not specified in predict, will default to the model with the best validation score: WeightedEnsemble
	Warning: AutoETS\W1 failed for 46 time series (5.9%). Fallback model SeasonalNaive was used for these time series.

In [17]:
forecast

                           mean         0.1          0.2          0.3  \
item_id timestamp
20001   2020-01-01  1299.947485  947.050106  1061.006683  1165.910008
        2020-02-01  1269.824797  891.477226  1032.026034  1137.003878
20002   2020-01-01  1149.595874  792.300940   913.178225  1029.177137
        2020-02-01  1067.967993  721.338708   856.025286   938.583984
20003   2020-01-01   790.374349  590.688798   657.256537   704.826174
...                         ...         ...          ...          ...
21266   2020-02-01     0.047042   -0.016368     0.005469     0.020314
21267   2020-01-01     0.049668    0.013568     0.026739     0.035598
        2020-02-01     0.049204    0.007889     0.022263     0.032051
21276   2020-01-01     0.025028    0.009542     0.015189     0.018967
        2020-02-01     0.025550    0.007465     0.014008     0.018355

                            0.4          0.5          0.6          0.7  \
item_id timestamp
20001   2020-01-01  1231.311688  1301.884423  1374.383249  1451.046521
        2020-02-01  1201.699062  1266.409203  1355.029909  1428.010196
20002   2020-01-01  1093.331678  1154.799315  1214.033834  1311.629051
        2020-02-01  1003.819880  1064.600485  1128.727063  1226.438166
20003   2020-01-01   753.356843   787.499410   825.216066   869.109212
...                         ...          ...          ...          ...
21266   2020-02-01     0.033901     0.046975     0.060710     0.076131
21267   2020-01-01     0.042460     0.049702     0.056726     0.065596
        2020-02-01     0.040406     0.049321     0.057938     0.068004
21276   2020-01-01     0.021975     0.025080     0.028102     0.031859
        2020-02-01     0.021878     0.025641     0.029286     0.033584

                            0.8          0.9
item_id timestamp
20001   2020-01-01  1532.734047  1673.073043
        2020-02-01  1516.367107  1657.914809
20002   2020-01-01  1393.653128  1511.659540
        2020-02-01  1306.474220  1437.348906
20003   2020-01-01   923.323578  1014.172175
...                         ...          ...
21266   2020-02-01     0.094050     0.125738
21267   2020-01-01     0.076069     0.093455
        2020-02-01     0.079650     0.100289
21276   2020-01-01     0.036305     0.043448
        2020-02-01     0.038666     0.047443

[1560 rows x 10 columns]

In [18]:
forecast_mean = forecast['mean'].reset_index()
forecast_mean.columns

Index(['item_id', 'timestamp', 'mean'], dtype='object')

In [19]:
resultado = forecast['mean'].reset_index()
resultado = resultado[resultado['timestamp'] == '2020-02-01']

In [20]:
resultado = resultado[['item_id', 'timestamp', 'mean']]
resultado.columns = ['product_id', 'periodo', 'tn']
resultado

     product_id    periodo           tn
1         20001 2020-02-01  1269.824797
3         20002 2020-02-01  1067.967993
5         20003 2020-02-01   673.230149
7         20004 2020-02-01   497.243019
9         20005 2020-02-01   486.099335
...         ...        ...          ...
1551      21263 2020-02-01     0.024197
1553      21265 2020-02-01     0.045126
1555      21266 2020-02-01     0.047042
1557      21267 2020-02-01     0.049204
1559      21276 2020-02-01     0.025550

[780 rows x 3 columns]

In [21]:
resultado.to_csv("forecast_autogluon_ene_feb.csv", index=False)
resultado.head()

  product_id    periodo           tn
1      20001 2020-02-01  1269.824797
3      20002 2020-02-01  1067.967993
5      20003 2020-02-01   673.230149
7      20004 2020-02-01   497.243019
9      20005 2020-02-01   486.099335